* {
  margin: 0;
  padding: 0;
}
#body {
  background-color: #0a0a0b;
  margin: 60px;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 223px;
  height: 60px;
}
#menu {
  width: 60px;
  height: 60px;
}
#contBarras {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 13px;
}
.barra {
  width: 25px;
  height: 4px;
  background: #0a0a0b;
}
#greatness {
  width: 658px;
  height: 116px;
  padding-top: 210px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 65px;
  line-height: 58px;
  letter-spacing: -2%;
  color: #f3f1eb;
}
#cidade {
  position: relative;
  text-align: center;
  width: 1803px;
  padding-top: 33px;
  max-width: 100%;
  height: 976px;
}
#part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 47px;
  padding-top: 0px;
}
.partText {
  color: #f3f1eb;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
#photosUm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-top: 36px;
}
#photoUm {
  max-width: 30%;
  width: 580px;
  height: 425.03125px;
  mix-blend-mode: Luminosity;
}
#photoDois {
  max-width: 40%;
  width: 580px;
  height: 610.8125px;
  mix-blend-mode: Luminosity;
}
#photoTres {
  max-width: 30%;
  width: 580px;
  height: 425.03125px;
  mix-blend-mode: Luminosity;
}
#secTres {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  padding-top: 80px;
  max-width: 100%;
  height: 412px;
}
#secTresUm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  height: 100%;
  width: 580px;
  border-bottom: 2px solid #ffffff;
}
#our {
  font-family: Staff X Condensed Test;
  font-weight: 700;
  font-size: 50px;
  color: #f3f1eb;
}
#view {
  width: 221px;
  height: 49px;
  padding: 10px 20px 10px 20px;
  border-radius: 75px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
#secTresDois {
  padding-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 1169px;
  border-bottom: 2px solid #ffffff;
}
#story {
  font-family: Space;
  font-weight: 500;
  font-size: 3vw;
  line-height: 53px;
  text-indent: 200px;
  letter-spacing: -5%;
  color: #f3f1eb;
}
@media screen and (max-width: 700px) {
  #story {
    line-height: 30px;
  }
}
@media screen and (max-width: 320px) {
  #story {
    text-indent: 100px;
  }
}
